.Header{
    font-family: Futura-Lt-w01-book,sans-serif;
    font-size: 28px;
    margin: 0;
    margin: auto;
    margin-bottom: 20px;
    color: #51A6DB;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
}